<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <!-- // Jinja2 template engine -->
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>instify</title>
</head>
<body>
  <div class="wrapper">
    <form action="#" method="post">
      <h1>LOGIN</h1>
      <div class="input-box">
        <input type="text" placeholder="username" name="username" required>
        <i class='bx bxs-user'></i>
      </div>
      {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for msg in messages %}
            <p style="color: red;">{{msg}}</p>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="input-box">
        <input type="password" placeholder="password" name="password" required>
        <i class='bx bxs-lock'></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox"> Remember me </label>
      </div>
      <button type="submit" class="btn">Login</button>
      <div class="register-link">
        <p>Don't have an account? <a href="http://127.0.0.1:5000/register">Register</a></p>
      </div>
    </form>
  </div>
</body>
</html>
