<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="static/main.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <div class="instify">Instify</div>
      <div class="desktop-1-child"></div>
      <img class="desktop-1-item" alt="" src="./public/rectangle-2.svg" />

      <div class="username">USERNAME</div>
      <div class="password">PASSWORD</div>
      <img class="instify-1-icon" alt="" src="./public/instify-1@2x.png" />

      <div class="login">LOGIN</div>
      <div class="desktop-1-inner"></div>
      <div class="login1">LOGIN</div>
    </div>
  </body>
</html>
