<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='instify.css') }}">
    <title>Instify</title>
</head>
<body>
    <div class="sidebar">
        <a href="#" class="logo">
            <img src="instify.png" alt=".">
        </a>
        <div class="profile">
            <div class="profile-img">
                <!--profila bilde-->
            </div>
            <div class="name">
                <h1>Vards.uzvards</h1>
            </div>
            <span>@Vards</span>
        </div>
        <div class="about">
            <!--box 1-->
            <div class="box">
                <h3>54</h3>
                <span>Posts</span>
            </div>
            <!--box 2-->
            <div class="box">
                <h3>14.4</h3>
                <span>followers</span>
            </div>
            <!--box 3-->
            <div class="box">
                <h3>14</h3>
                <span>following</span>
            </div>
        </div>
        <div class="menu">
            <a href="#" class="activate">
                <span class="icon">
                    
                </span>
            </a>
        </div>
</body>
</html>