<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='instify.css') }}">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <title>Instify</title>
</head>
<body>
    <div class="sidebar">
        <div class="profile">
            <div class="profile-img">
                <img src="{{ url_for('static', filename='Instify.png') }}" alt="Prof.pic">
            </div>
            <div class="name">
                <h1>{{username}}</h1>
            </div>
            <span>@{{username}}</span>
        </div>
        <div class="about">
            <!--box 1-->
            <div class="box">
                <h3>54</h3>
                <span>Posts</span>
            </div>
            <!--box 2-->
            <div class="box">
                <h3>14.4</h3>
                <span>followers</span>
            </div>
            <!--box 3-->
            <div class="box">
                <h3>14</h3>
                <span>following</span>
            </div>
        </div>
        <div class="menu">
            <a href="#" class="activate">
                <i class='bx bx-merge'></i>
                Feed
            </a>
            <a href="#">
                <i class='bx bxs-search'></i>
                Explore
            </a>

            <a href="#">
                <i class='bx bxs-bell'></i>
                Notification
            </a>

            <a href="#">
                <i class='bx bxs-envelope' ></i>
                Messages
            </a>

            <a href="#">
                <i class='bx bxs-paper-plane' ></i>
                Direct
            </a>

            <a href="#">
                <i class='bx bx-stats' ></i>
                Stats
            </a>

            <a href="#">
                <i class='bx bxs-cog' ></i>
                Settings
            </a>

            <a href="#">
                <i class='bx bx-log-out'></i>
                <i onclick="logout()">Logout</i>
                <script>
                    function logout(){
                        window.location = '/logout'
                    }
                </script>
            </a>
            <a href="#" onclick="deleteProfile(event)">
                <i class='bx bx-x-circle'></i>
                <i>Delete profile</i>
            </a>
            <script>
                function deleteProfile(event) {
                    event.preventDefault();
                    if (confirm('Are you sure you want to delete your profile?')) {
                        window.location = '/deleteProfile';
                    }
                }
            </script>
 
        </div>
    </div>
    <div class="main-home">
        <div class="header">
            <div class="sort_container">
                <p>Sort by</p>
                <select onchange="sort(this)">
                    <option value="comments">------</option>
                    <option value="likes">Likes</option>
                    <option value="shares">Shares</option>
                </select>
                <script>
                    function sort(e){
                        window.location = '/sort_by/'+e.value
                    }
                </script>
            </div>
            <div class="header-content">
                <h1>Instify</h1>
            </div>
        </div>
        <!--storiji-->
        <div class="stories-title">
            <h1>Stories</h1>
        </div>
        <div class="stories">
            <!--story 1-->
            <div class="stories-img color">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
                <div class="add">+</div>
            </div>
            <!--story 2-->
            <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
             <!--story 3-->
             <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
             <!--story 4-->
             <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
             <!--story 5-->
             <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
             <!--story 6-->
             <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
             <!--story 7-->
             <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
             <!--story 8-->
             <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
             <!--story 9-->
             <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
             <!--story 10-->
             <div class="stories-img">
                <img src="{{ url_for('static', filename='pfp.jpg') }}" alt="Prof.pic">
            </div>
        </div>
        <!--main posti-->
        <div class="feed">
            <h1>Feed</h1>
            <div class="feed-text">
                <h2>Latest</h2>
                <span>Popular</span>
            </div>
        </div>
        <div class="main-posts">
            <!--1. box-->

            {% for post in posts %}
                <div class="post-box">
                    <div class="post-box-top">{{post['name']}}</div>
                    <img class="post-box-middle" src="{{post['url']}}" style="height: 80%;"/>
                    <div class="post-box-bottom">
                        <div class="likes">
                            <i class='bx bxs-heart bx-lg'></i>
                            <span style="color: black;  font-size: 24px;">{{post['likes']}}</span>
                            <i class='bx bx-comment bx-lg' ></i>
                            <span style="color: black; font-size: 24px;">{{post['comments']}}</span>
                            <i class='bx bx-paper-plane bx-lg' ></i>
                            <span style="color: black;  font-size: 24px;">{{post['shares']}}</span>

                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="post-info">

            </div>
        </div>
    </div>
</body>
</html>
